{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}

{% set ictechMultiCartEnabled = ictechMultiCart is defined and ictechMultiCart.get('enabled') %}
{% set ictechMultiCartActive = ictechMultiCartEnabled
    and ictechMultiCart.get('customerLoggedIn')
    and ictechMultiCart.get('customerAllowed')
    and not ictechMultiCart.get('blacklisted') %}
{% set ictechMultiCartLabels = {
    selectorEyebrow: 'ictech-multi-cart.selector.eyebrow'|trans,
    selectorTitle: 'ictech-multi-cart.selector.title'|trans,
    selectorSubtitle: 'ictech-multi-cart.selector.subtitle'|trans,
    selectorDrawerTitle: 'ictech-multi-cart.selector.drawerTitle'|trans,
    existingCartsLabel: 'ictech-multi-cart.selector.existingCarts'|trans,
    createCartLabel: 'ictech-multi-cart.selector.createCart'|trans,
    cartNameLabel: 'ictech-multi-cart.selector.cartNameLabel'|trans,
    cartNamePlaceholder: 'ictech-multi-cart.selector.cartNamePlaceholder'|trans,
    createAndAddLabel: 'ictech-multi-cart.selector.createAndAdd'|trans,
    addToSelectedCartLabel: 'ictech-multi-cart.selector.addToSelectedCart'|trans,
    currentProductLabel: 'ictech-multi-cart.selector.currentProduct'|trans,
    pendingProductLabel: 'ictech-multi-cart.selector.pendingProduct'|trans,
    noCartsLabel: 'ictech-multi-cart.selector.noCarts'|trans,
    itemsLabel: 'ictech-multi-cart.selector.items'|trans,
    addHereLabel: 'ictech-multi-cart.selector.addHere'|trans,
    activeCartLabel: 'ictech-multi-cart.selector.activeCart'|trans,
    chooseCartLabel: 'ictech-multi-cart.selector.chooseCart'|trans,
    cartProductsLabel: 'ictech-multi-cart.selector.cartProducts'|trans,
    orderSummaryLabel: 'ictech-multi-cart.selector.orderSummary'|trans,
    subtotalLabel: 'ictech-multi-cart.selector.subtotal'|trans,
    discountLabel: 'ictech-multi-cart.selector.discount'|trans,
    totalLabel: 'ictech-multi-cart.selector.total'|trans,
    createAnotherCartLabel: 'ictech-multi-cart.selector.createAnotherCart'|trans,
    continueShoppingLabel: 'ictech-multi-cart.selector.continueShopping'|trans,
    checkoutLabel: 'ictech-multi-cart.selector.checkout'|trans,
    myCartsLabel: 'ictech-multi-cart.selector.myCarts'|trans,
    promoPlaceholder: 'ictech-multi-cart.selector.promoPlaceholder'|trans,
    promoCodeLabel: 'ictech-multi-cart.selector.promoCode'|trans,
    promoApplyLabel: 'ictech-multi-cart.selector.promoApply'|trans,
    promoRequiredLabel: 'ictech-multi-cart.selector.promoRequired'|trans,
    promoRemoveLabel: 'ictech-multi-cart.account.promoRemove'|trans,
    promoAppliedLabel: 'ictech-multi-cart.selector.promoApplied'|trans,
    promoSavedLabel: 'ictech-multi-cart.selector.promoSaved'|trans,
    promoRemovedLabel: 'ictech-multi-cart.selector.promoRemoved'|trans,
    promoHelpLabel: 'ictech-multi-cart.selector.promoHelp'|trans,
    renameCartLabel: 'ictech-multi-cart.account.renameButton'|trans,
    renameLabel: 'ictech-multi-cart.account.renameLabel'|trans,
    renameSaveLabel: 'ictech-multi-cart.account.renameSave'|trans,
    renameNameRequiredLabel: 'ictech-multi-cart.account.renameNameRequired'|trans,
    renameSuccessLabel: 'ictech-multi-cart.account.renameSuccess'|trans,
    renameFailedLabel: 'ictech-multi-cart.account.renameFailed'|trans,
    promoNotAvailableLabel: 'ictech-multi-cart.selector.promoNotAvailable'|trans,
    createDisabledLimitLabel: 'ictech-multi-cart.selector.createDisabledLimit'|trans({'%limit%': ictechMultiCart.get('maxCartsPerUser')}),
    createDisabledUnavailableLabel: 'ictech-multi-cart.selector.createDisabledUnavailable'|trans,
    cartProductsEmptyLabel: 'ictech-multi-cart.selector.cartProductsEmpty'|trans,
    switchCartErrorLabel: 'ictech-multi-cart.selector.switchCartError'|trans,
    selectCartRequiredLabel: 'ictech-multi-cart.selector.selectCartRequired'|trans,
    cartNameRequiredLabel: 'ictech-multi-cart.selector.cartNameRequired'|trans,
    createErrorLabel: 'ictech-multi-cart.selector.createError'|trans,
    addErrorLabel: 'ictech-multi-cart.selector.addError'|trans,
    addedSuccessLabel: 'ictech-multi-cart.selector.addedSuccess'|trans,
    productFallbackLabel: 'ictech-multi-cart.selector.productFallback'|trans,
    cartFallbackLabel: 'ictech-multi-cart.selector.cartFallback'|trans
} %}

{% block buy_widget_buy_form_inner %}
    {% if ictechMultiCartActive %}
        <style>
            .ictech-multi-cart-selector__promo {
                grid-template-columns: minmax(0, 1fr) !important;
            }

            .ictech-multi-cart-selector__promo-button,
            .ictech-multi-cart-selector__ghost[data-multi-cart-promo-remove] {
                width: 100%;
            }

            .ictech-multi-cart-selector__ghost[data-multi-cart-promo-remove] {
                margin-top: 0.5rem;
                background: #f8fbff;
            }

            @media (min-width: 768px) {
                .ictech-multi-cart-selector__promo {
                    gap: 0.65rem;
                }
            }
        </style>
    {% endif %}

    <form
        id="productDetailPageBuyProductForm"
        action="{{ path('frontend.checkout.line-item.add') }}"
        method="post"
        class="buy-widget"
        {% if not ictechMultiCartActive %}data-add-to-cart="true"{% endif %}
        {% if ictechMultiCartActive %}data-ictech-multi-cart-add-to-cart="true"{% endif %}
        data-multi-cart-enabled="{{ ictechMultiCartActive ? 'true' : 'false' }}"
        data-multi-cart-state-url="{{ path('frontend.ictech.multi_cart.state') }}"
        data-multi-cart-create-url="{{ path('frontend.ictech.multi_cart.create') }}"
        data-multi-cart-activate-url="{{ path('frontend.ictech.multi_cart.activate') }}"
        data-multi-cart-add-url="{{ path('frontend.ictech.multi_cart.add_product') }}"
        data-multi-cart-promotion-url="{{ path('frontend.ictech.multi_cart.promotion') }}"
        data-multi-cart-rename-url-template="{{ path('frontend.ictech.multi_cart.account.rename', { cartId: '__cartId__' }) }}"
        data-multi-cart-checkout-url-template="{{ path('frontend.ictech.multi_cart.checkout.cart', { cartId: '__cartId__' }) }}"
        data-multi-cart-carts-url="{{ path('frontend.ictech.multi_cart.account.page') }}"
        data-multi-cart-labels="{{ ictechMultiCartLabels|json_encode|e('html_attr') }}">

        {% set DOWNLOAD_STATE = constant('Shopware\\Core\\Content\\Product\\State::IS_DOWNLOAD') %}
        {% set showQuantitySelect = not product.states is defined or DOWNLOAD_STATE not in product.states or (DOWNLOAD_STATE in product.states and product.maxPurchase !== 1) %}
        {% set buyable = product.available and product.childCount <= 0 and product.calculatedMaxPurchase > 0 %}

        {% block buy_widget_buy_container %}
            {% if buyable %}
                <div class="row g-2 buy-widget-container">
                    {% block buy_widget_buy_quantity_container %}
                        {% if showQuantitySelect %}
                            <fieldset class="col-4 d-flex justify-content-end">
                                {% set selectQuantityThreshold = 100 %}

                                {% block buy_widget_buy_quantity_input_group %}
                                    <legend class="form-label visually-hidden">
                                        {{ 'component.product.quantitySelect.legend'|trans|striptags }}
                                    </legend>

                                    <div id="product-detail-quantity-group-{{ product.id }}" class="input-group product-detail-quantity-group quantity-selector-group" data-quantity-selector="true">
                                        <button type="button" class="btn btn-outline-light btn-minus js-btn-minus" aria-label="{{ 'component.product.quantitySelect.decrease'|trans|striptags }}">
                                            {% sw_icon 'minus' style {size: 'xs'} %}
                                        </button>
                                        <input
                                            type="number"
                                            name="lineItems[{{ product.id }}][quantity]"
                                            class="form-control js-quantity-selector quantity-selector-group-input"
                                            min="{{ product.minPurchase }}"
                                            max="{{ product.calculatedMaxPurchase }}"
                                            step="{{ product.purchaseSteps }}"
                                            value="{{ product.minPurchase }}"
                                            aria-label="{{ 'component.product.quantitySelect.label'|trans|striptags }}"
                                        />
                                        <button type="button" class="btn btn-outline-light btn-plus js-btn-plus" aria-label="{{ 'component.product.quantitySelect.increase'|trans|striptags }}">
                                            {% sw_icon 'plus' style {size: 'xs'} %}
                                        </button>
                                        {% if product.translated.packUnit %}
                                            <span class="input-group-text">
                                                {% if product.minPurchase > 1 and product.translated.packUnitPlural %}
                                                    {{ product.translated.packUnitPlural }}
                                                {% elseif product.translated.packUnit %}
                                                    {{ product.translated.packUnit }}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </div>

                                    {% block buy_widget_buy_quantity_live_area %}
                                        <div
                                            class="quantity-area-live visually-hidden"
                                            aria-live="polite"
                                            aria-atomic="true"
                                            data-aria-live-text="{{ 'component.product.quantitySelect.areaLiveText'|trans|striptags }}"
                                            data-aria-live-product-name="{{ product.translated.name }}">
                                        </div>
                                    {% endblock %}
                                {% endblock %}
                            </fieldset>
                        {% endif %}
                    {% endblock %}

                    {% block buy_widget_buy_redirect_input %}
                        <input type="hidden"
                               name="redirectTo"
                               value="frontend.detail.page">

                        <input type="hidden"
                               name="redirectParameters"
                               data-redirect-parameters="true"
                               value="{{ {productId: product.id}|json_encode }}">
                    {% endblock %}

                    {% block buy_widget_buy_product_buy_info %}
                        <input type="hidden"
                               name="lineItems[{{ product.id }}][id]"
                               value="{{ product.id }}">
                        <input type="hidden"
                               name="lineItems[{{ product.id }}][type]"
                               value="product">
                        <input type="hidden"
                               name="lineItems[{{ product.id }}][referencedId]"
                               value="{{ product.id }}">
                        <input type="hidden"
                               name="lineItems[{{ product.id }}][stackable]"
                               value="1">
                        <input type="hidden"
                               name="lineItems[{{ product.id }}][removable]"
                               value="1">
                    {% endblock %}

                    {% block buy_widget_product_buy_meta %}
                        <input type="hidden"
                               name="product-name"
                               value="{{ product.translated.name }}">
                        <input type="hidden"
                               name="brand-name"
                               value="{{ product.manufacturer.getName() }}">
                    {% endblock %}

                    {% block buy_widget_buy_button_container %}
                        <div class="{% if showQuantitySelect %}col-8{% else %}col-12{% endif %}">
                            {% block buy_widget_buy_button %}
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-buy"
                                            type="submit"
                                            title="{{ 'detail.addProduct'|trans|striptags }}"
                                            aria-label="{{ 'detail.addProduct'|trans|striptags }}">
                                        {{ 'detail.addProduct'|trans|sw_sanitize }}
                                    </button>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endif %}
        {% endblock %}
    </form>

    {% if ictechMultiCartActive %}
        {% sw_include '@ICTECHMultiCart/storefront/component/multi-cart/inline-script.html.twig' %}
    {% endif %}
{% endblock %}
